<%- include("../partials/header") %>

    <div class="row">
        <div class="col-md-3">
            <div id='map'></div>
        </div>
        <div class="col-md-9">
            <div class="card mb-2">
                <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                <div class="card-body">
                    <p class="float-right">$<%= campground.price %>/night</p>
                    <h5 class="card-title float-left"><%= campground.name %></h5>
                    <div class="clearfix"></div>
                    <p>
                        <em>Submitted by: <a href="/user/<%= campground.author.id %>"><%= campground.author.username %></a>, 
                            <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                    <hr>
                    <p class="card-text"><%= campground.description %></p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <!--Review section-->
            <div class="card mb-2">
              <div class="card-body">
                  <% if (campground.rating === 0) { %>
                  <h5>
                      <em>No reviews yet.</em>
                  </h5>
                  <% } else { %>
                  <p>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                      <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                      <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                      <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                      <em>(total reviews: <%= campground.reviews.length %>)</em>
                  </p>
                  <p>
                      Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
                  </p>
                  <p><h4>Latest reviews for this campground:</h4></p>
                  <hr class="mt-0">
                  <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                  <div class="row">
                      <div class="col-md-3">
                          <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                          <div>Review by: <strong><%= review.author.username %></strong></div>
                          <span><em><%= review.updatedAt.toDateString() %></em></span>
                      </div>
                      <div class="col-md-9">
                          <p>
                              <%= review.text %>
                          </p>
                          <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                          <div class="float-right">
                            <a href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit" class="btn btn-sm btn-warning">EDIT</a>
                            <form class="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                              <button class="btn btn-sm btn-danger">DELETE</button>
                            </form>
                          </div>
                          <% } %>
                      </div>
                  </div>
                  <hr>
                  <% }); %>
                  <div class="mb-3">
                      <h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                  </div>
                  <% } %>
                  <div>
                      <a class="btn btn-primary btn-lg <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">
                          Write a New Review</a>
                  </div>
              </div>
          </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                    </div>
                    <hr>
                    <div class="row">
                        <% campground.comments.forEach(function(comment){ %>
                            <div class="col-md-12 mb-2">
                              <div class="card">
                                <div class="card-body">
                                  <div class="float-left">
                                    <p class="card-title"><strong><%= comment.author.username %></strong></p>
                                    <p class="card-text"><%= comment.text %></p>
                                  </div>
                                  <div class="float-right">
                                    <p><em><%= moment(comment.createdAt).fromNow() %></em></p>
                                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                    <div class="float-right">
                                      <a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                                      <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger">DELETE</button>
                                      </form>
                                    </div>
                                    <% } %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% }) %>                  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        mapboxgl.accessToken = "<%= process.env.MAPBOX_KEY %>";
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
            center: ["<%= campground.lng %>", "<%= campground.lat %>"], // starting position [lng, lat]
            zoom: 9 // starting zoom
        });

        var marker = new mapboxgl.Marker()
        .setLngLat(["<%= campground.lng %>", "<%= campground.lat %>"])
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML('<h3>' + "<%= campground.name %>" + '</h3><p>' + "Lng: " + "<%= campground.lng %> " + "Lat: " + "<%= campground.lat %>" + '</p>'))
        .addTo(map);
                
    </script>
<%- include("../partials/footer") %>

