<%- include("../partials/header") %>

    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
                <div id='map'></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>" alt="">
                <div class="caption">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h4><a href=""><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>
                        <em>Submitted by: <a href="/user/<%= campground.author.id %>"><%= campground.author.username %></a>, 
                            <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach((comment) => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p><%= comment.text %></p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-xs btn-warning">Edit</a>
                                <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <script>
        mapboxgl.accessToken = "<%= process.env.MAPBOX_KEY %>";
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
            center: ["<%= campground.lng %>", "<%= campground.lat %>"], // starting position [lng, lat]
            zoom: 9 // starting zoom
        });

        var marker = new mapboxgl.Marker()
        .setLngLat(["<%= campground.lng %>", "<%= campground.lat %>"])
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML('<h3>' + "<%= campground.name %>" + '</h3><p>' + "Lng: " + "<%= campground.lng %> " + "Lat: " + "<%= campground.lat %>" + '</p>'))
        .addTo(map);
                
    </script>
<%- include("../partials/footer") %>

