<%- include("../partials/header") %>

<div class="row">
    <div class="col-md-4">
        <h1><%= user.username %></h1>
        <div class="card">
            <img src="<%= user.avatar %>" alt="user profile image" class="card-img-top">
            <div class="card-body">
                <p class="card-text"><%= user.firstName + " " + user.lastName%></p>
                <a class="card-text" href="mailto:<%= user.email %>"><%= user.email %></a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h1>Campgrounds:</h1>
        <div class="row text-center">
            <% campgrounds.forEach((campground) => { %>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4"> 
                    <div class="card">
                        <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                        <div class="card-body">
                          <h5 class="card-title"><%= campground.name %></h5>
                          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>